<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plant Log</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <main id="app" data-plant-code="<%= JSON.stringify(plant.code) %>" data-care-actions='<%- JSON.stringify(careActions) %>'>
            <div id="info-view">
                <div id="img-container">
                    <% if (plant.imagePath) { %>
                        <img id="plant-img" src="<%= plant.imagePath %>">
                    <% } else { %>
                        <img id="plant-img" src="/images/monstera_logo.png">
                    <% } %>
                </div>
                <div style="height: 50dvh;">
                    <div class="info-data-container">
                        <div id="info-titles">
                            <h2 class="title"><%= plant.name %></h2>
                            <i class="secondary-title"><%= plant.latinName %></i>
                        </div>

                        <div style="display: flex; align-items: center; justify-content: space-evenly;  padding-top: 0.5rem;">
                            <div style="display: flex; flex-direction: column; align-items: center;">
                                <div class="progress-bar mist" role="progressbar">
                                    <img src="/icons/spray.svg" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%) rotate(-140deg);">
                                </div>
                                <div>Flood</div>
                                <div style="font-size: small;">21 days ago</div>
                            </div>

                            <div style="display: flex; flex-direction: column; align-items: center;">
                                <div class="progress-bar water" role="progressbar">
                                    <img src="/icons/water_drop.svg" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%) rotate(-140deg);">
                                </div>
                                <div>Generous</div>
                                <div style="font-size: small;">51 days ago</div>
                            </div>

                            <div style="display: flex; flex-direction: column; align-items: center;">
                                <div class="progress-bar mist" role="progressbar">
                                    <img src="/icons/spray.svg" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%) rotate(-140deg);">
                                </div>
                                <div>Generous</div>
                                <div style="font-size: small;">52 days ago</div>
                            </div>
                        </div>
                    </div>
                    <div id="btn-row-bottom">
                        <button id="timeline-btn" class="command-bar-btn">
                            <img class="icon" src="/icons/timeline.svg">
                        </button>
                        <button id="toggle-view-btn" class="command-bar-btn">
                            <img class="icon" src="/icons/water_drop.svg">
                        </button>
                    </div>
                </div>
            </div>
            <div id="care-view">
                <div id="top-row">
                    <button id="close-water-btn" class="round-btn">
                        <img class="icon" src="/icons/arrow_back.svg">
                    </button>
                    <h1>Watering</h1>
                    <div></div>
                </div>

                <div id="water-slider">
                    <svg id="water-drop-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" 
                        width="300px" height="300px" viewBox="0 0 64 64" xml:space="preserve">

                        <mask id="drop_mask" maskUnits="userSpaceOnUse">
                            <path d="M11,41.265C11.052,53.27,20.401,63,32,63
                                    s21-9.73,21-21.735C53,25.729,32.035,1,32.035,1
                                    S10.931,25.729,11,41.265z" fill="white"/>
                        </mask>
                        <rect id="water_rect" x="0" y="0" width="64" height="64" fill="rgba(0, 135, 193, 0.6)" mask="url(#drop_mask)" />

                        <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                                d="M11,41.265C11.052,53.27,20.401,63,32,63
                                s21-9.73,21-21.735C53,25.729,32.035,1,32.035,1
                                S10.931,25.729,11,41.265z"/>
                    </svg>
                    <p id="water-amount">0 ml</p>
                    <select name="unit-types" id="unit-types" class="dropdown">
                        <option value="ml" selected>Exact (ml)</option>
                        <option value="approximate">Approximate</option>
                    </select>
                    <select name="watering-types" id="watering-types" class="dropdown">
                        <option value="top" selected>Top watering</option>
                        <option value="bottom">Bottom watering</option>
                        <option value="mist">Misting</option>
                    </select>
                </div>
                <div id="water-btn-row">
                    <button id="water-btn" disabled>
                        Hold to Water
                    </button>
                </div>
            </div>
            <div id="history-view">
                <div class="care-top-row">
                    <div></div>
                    <h1>Care History</h1>
                    <button id="close-history-btn" class="round-btn">
                        <img class="icon" src="/icons/arrow_forward.svg">
                    </button>
                </div>
                <div id="action-list"></div>
            </div>
            
            <template id="history-item-template">
                <div class="history-item">
                    <h3 class="care-action-name"></h3>
                    <p class="care-action-timestamp"></p>
                    <p class="water-amount"></p>
                </div>
            </template>
        </main>
        <script>
            const actions = <%- JSON.stringify(careActions) %>;
            const container = document.getElementById('action-list')
            const template = document.getElementById('history-item-template')

            actions.forEach(a => {
                const clone = template.content.cloneNode(true)
                clone.querySelector('.care-action-name').textContent = a.method
                clone.querySelector('.care-action-timestamp').textContent = a.time
                container.appendChild(clone)
            })
        </script>
        <script src="/plantview.js" type="module" defer></script>
    </body>
</html>