<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plant Log</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <main id="app" 
            data-plant-code="<%= plant.code %>" 
            data-care-actions="<%= careActions %>"
            data-water-amount="<%= waterAmount %>"
            data-mist-amount="<%= mistAmount %>"
        >
            <div id="info-view">
                <div id="img-container">
                    <% if (plant.imagePath) { %>
                        <img id="plant-img" src="<%= plant.imagePath %>">
                    <% } else { %>
                        <img id="plant-img" src="/images/monstera_logo.png">
                    <% } %>
                </div>
                <div class="info-bottom-half">
                    <div class="info-data-container">
                        <div id="info-titles">
                            <h2 class="title"><%= plant.name %></h2>
                            <i class="secondary-title"><%= plant.latinName %></i>
                        </div>

                        <div class="progress-bar-row-container">
                            <div class="progress-bar-container">
                                <div class="progress-bar mist" role="progressbar">
                                    <img class="progress-bar-icon" src="/icons/spray.svg">
                                </div>
                                <div id="last-misted-amount"></div>
                                <div id="last-misted-date" style="font-size: small;"><%= lastMisted %></div>
                            </div>

                            <div class="progress-bar-container">
                                <div class="progress-bar water" role="progressbar">
                                    <img class="progress-bar-icon" src="/icons/water_drop.svg">
                                </div>
                                <div id="last-watered-amount"></div>
                                <div id="last-watered-date" style="font-size: small;"><%= lastWatered %></div>
                            </div>

                            <div class="progress-bar-container">
                                <div class="progress-bar fertilizer" role="progressbar">
                                    <img class="progress-bar-icon" src="/icons/tractor.svg">
                                </div>
                                <div>-</div>
                                <div style="font-size: small;">No records</div>
                            </div>

                        </div>
                    </div>
                    <div id="btn-row-bottom">
                        <button id="timeline-btn" class="command-bar-btn">
                            <img class="icon" src="/icons/timeline.svg">
                        </button>
                        <button id="toggle-view-btn" class="command-bar-btn">
                            <img class="icon" src="/icons/water_drop.svg">
                        </button>
                    </div>
                </div>
            </div>
            <div id="care-view">
                <div id="care-top-row">
                    <button id="close-water-btn" class="round-btn">
                        <img class="close-btn-icon" src="/icons/arrow_back.svg">
                    </button>
                </div>

                <div id="water-slider">
                    <svg id="water-drop-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" 
                        width="300px" height="300px" viewBox="0 0 64 64" xml:space="preserve">

                        <mask id="drop_mask" maskUnits="userSpaceOnUse">
                            <path d="M11,41.265C11.052,53.27,20.401,63,32,63
                                    s21-9.73,21-21.735C53,25.729,32.035,1,32.035,1
                                    S10.931,25.729,11,41.265z" fill="white"/>
                        </mask>
                        <rect id="water_rect" x="0" y="0" width="64" height="64" fill="rgba(0, 135, 193, 0.7)" mask="url(#drop_mask)" />

                        <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10"
                                d="M11,41.265C11.052,53.27,20.401,63,32,63
                                s21-9.73,21-21.735C53,25.729,32.035,1,32.035,1
                                S10.931,25.729,11,41.265z"/>
                    </svg>
                    <div class="water-options">
                        <p id="water-amount">0 ml</p>
                        <button id="unit-types-btn" class="round-btn">
                            <img id="cycle-icon" src="/icons/cycle.svg">
                        </button>
                    </div>

                </div>
                <div id="water-type">

                    <svg id="shower-icon" xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="black">
                        <path d="M320-240q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm160 0q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm160 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240ZM200-400v-80q0-106 68-184t172-92v-84h80v84q104 14 172 92t68 184v80H200Zm80-80h400q0-83-58.5-141.5T480-680q-83 0-141.5 58.5T280-480Zm40 360q-17 0-28.5-11.5T280-160q0-17 11.5-28.5T320-200q17 0 28.5 11.5T360-160q0 17-11.5 28.5T320-120Zm160 0q-17 0-28.5-11.5T440-160q0-17 11.5-28.5T480-200q17 0 28.5 11.5T520-160q0 17-11.5 28.5T480-120Zm160 0q-17 0-28.5-11.5T600-160q0-17 11.5-28.5T640-200q17 0 28.5 11.5T680-160q0 17-11.5 28.5T640-120ZM480-480Z"/>
                    </svg>

                    <svg id="glass-icon" xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="darkgray">
                        <path d="M279-80q-31 0-53.5-20T200-151l-80-729h720l-80 729q-3 31-25.5 51T681-80H279Zm-8-160 9 80h400l9-80H271Zm-8-80h435l52-480H210l53 480Zm8 160h418-418Z"/>
                    </svg>

                    <svg id="spray-icon" xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="darkgray">
                        <path d="M320-80q-33 0-56.5-23.5T240-160v-172q0-74 21-142.5T327-611q-38-9-62.5-41T240-724v-42q0-48 41.5-80.5T368-874l356 35q17 2 26.5 13.5T760-799v119q0 15-10.5 26.5T724-640l-36 4q14 49 37 88t55 56l-40 70q-53-31-82-85.5T612-629l-44 4q8 50 30.5 101t45.5 92q18 32 27 67t9 71v134q0 33-23.5 56.5T600-80H320Zm0-676v32q0 18 13 29t31 9l316-30v-48l-316-30q-18-2-31 9t-13 29Zm0 596h280v-134q0-26-6.5-51T574-393q-31-54-54-111.5T488-617l-60 5-26 34q-40 53-61 116.5T320-332v172Zm0 0h280-280Z"/>
                    </svg>
                </div>
                <div id="water-btn-row">
                    <button id="water-btn" disabled>
                        Hold to Water
                    </button>
                </div>
            </div>
            <div id="history-view">
                <div id="history-top-row">
                    <h2>History</h2>
                    <button id="close-history-btn" class="round-btn">
                        <img class="close-btn-icon" src="/icons/arrow_forward.svg">
                    </button>
                </div>
                <div id="action-list"></div>
            </div>
            
            <template id="history-item-template">
                <div class="history-item">
                    <div class="card-header">
                        <h3 class="history-title"></h3>
                    </div>
                    <div class="card-content">
                        <div class="date-title">Date:</div>
                        <div class="date-val"></div>
                        <div class="time-title">Time:</div>
                        <div class="time-val"></div>
                        <div class="water-title">Amount:</div>
                        <div class="water-amount"></div>
                        <button class="delete-btn">
                            <img src="/icons/trash.svg">
                        </button>
                    </div>
                </div>
            </template>
        </main>
        <script>
            const actions = <%- JSON.stringify(careActions) %>;
            const container = document.getElementById('action-list')
            const template = document.getElementById('history-item-template')

            const waterTitleMap = new Map([
                ['top', 'Top Watering'], ['bottom', 'Bottom Watering'], ['mist', 'Misting']
            ])

            function isNumeric(val) {
                return !isNaN(val) && isFinite(val)
            }

            actions.forEach(a => {
                let amount = a.amount

                if (isNumeric(a.amount)) {
                    amount = parseInt(amount)
                    amount += ' ml'
                }

                const clone = template.content.cloneNode(true)
                // clone.querySelector('.history-item').id = `history-item-${a.id}`
                clone.querySelector('.history-title').textContent = waterTitleMap.get(a.method)
                clone.querySelector('.date-val').textContent = a.date
                clone.querySelector('.time-val').textContent = a.time
                clone.querySelector('.water-amount').textContent = amount
                clone.querySelector('.delete-btn').id = `watering-${a.id}`
                container.appendChild(clone)
            })
        </script>
        <script src="/plantview.js" type="module" defer></script>
    </body>
</html>